:root {
	--h: 2rem;
	}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--vh: calc( 100% - var(--h) );
	}
@media (max-width: 640px) {
	input {
		display: none;
		}
	.menu ul {
		position: absolute;
		top: 0;
		left: 100vw;
		width: 100vw;
		height: 100%;
		display: block;
		margin: 0;
		padding: 0;
		padding-top: var( -h );
		background: white;
		}
	.menu li {
		display: block;
		margin: 0;
		padding: 0;
		width: 100vw;
		height: var(--h);
		}
	.menu label a {
		pointer-events: none;
		}
	.menu label {
		cursor: pointer;
		width: 100vw;
		display: block;
		top: var(--h);
		left: 100vw;
		z-index: 42;
		}
	.menu a {
		display: block;
		height: var(--h);
		}
	.menu label:hover {
		background: white;
		}
	.menu a:hover {
		background: lightBlue;
		}
	.menu {
		top: 0;
		left: 0;
		}
	.menu > li > ul ul {
		padding-top: var(--h);
		}
	.menu li li {
		background: green;
		}
	.menu input ~ ul {
		-webkit-transition: left .3s ease;
		transition: left .3s ease;
		}
	.menu :checked ~ ul {
		padding-top: var(--h);
		transition: left .3s ease;
		left: 0;
		background: white;
		}
	.menu :checked ~ label {
		position: fixed;
		left: 0;
		background: silver;
		-webkit-transition: left .3s ease;
		transition: left .3s ease;
		}
	}
.navigation-content .menu {
	position: absolute;
	top: var(--h);
	left: 0;
	height: var( --vh );
	background: pink;
	overflow-x: hidden;
	transition: height .1s ease;
	}

.navigation-content [for=navigation-content-toggle] {
	position : fixed;
	top :0;
	left :0;
	width: 100vw;
	height: var(--h);
	}

#navigation-content-toggle:checked ~ .menu {
	height: 0;
	overflow : hidden;
	transition: height .1s ease;

	}
#navigation-content-toggle:checked ~ .menu label {
	position : static;

	}

@media (min-width: 640px) {
	input{
		display:none;
		}
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		}
	nav {
		background: yellow;
		}
	a {
		display: inline-block;
		line-height: 2;
		padding: 0.5rem 1rem;
		margin: 0;
		}
	a:hover {
		background: white;
		}
	li {
		display: inline-block;
		}
	ul {
		position: relative;
		display: inline-block;
		}
	ul ul {
		position: absolute;
		display: none;
		width: 10rem;
		}
	nav:not(.touched) label:hover,
	.submenu-toggle:checked ~ label a{
		background: white;
		}
	nav:not(.touched) label:hover ~ ul,
	.submenu-toggle:checked ~ ul {
		display: block;
		}

	nav.touched > ul > li > label a {
		pointer-events: none;
		}

	}

